/*Telekom CSS*/

body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

a {
  color: #9E0059;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  cursor: text;
  font-weight: bold;
  position: relative;
  color: black;
}

h1, h2 {
  color: #e2007f;
}

h2 {
  padding: 0 0 3px 0;
}

h6 {
    color: #777777;
}

code, pre{
  background-color: #eeeeee;
}
