<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>any2pdf</title>
    <%= raw_heading %>
    <%= toc_generator %>
  </head>
  <body id="home">
    <div id="toc" ></div>
    <%= raw_html %>
  </body>
</html>