<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>any2pdf</title>
    <%= raw_heading %>
    <script>
    $(document).ready(function() {
      /* generate table of contents if required */
      if( typeof(window.gen_toc) == "function" ){
        /* make sure to only include headings in toc which are necessary
        up to level <%= toc_level %>*/
        for( var lvl=1; lvl <= <%= toc_level %>; lvl++){
          $("h"+lvl).addClass("in_toc")
          $("h"+lvl+".fixed-heading").removeClass("in_toc")
          <% if number_headings %>
          $("h"+lvl).addClass("numbering")
          $("h"+lvl+".fixed-heading").removeClass("numbering")
          <% end %>
        }
        window.gen_toc();
      }
    });
    </script>
  </head>
  <body id="home">
    <%= raw_html %>
  </body>
</html>
